@model WebShouts.Entities.WebShout

@{
    ViewData["Title"] = "Create";
}

<h4>Créer un nouveau cri</h4>
<hr />
<div class="row">
    <div class="col-lg-12">
        <form asp-action="Create">
            <div class="form-group">
                <label class="control-label">teneur</label>
                <textarea maxlength="140" asp-for="Content" placeholder="Enter message here..." rows="5" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Sauvegarder" style="float:right" class="btn btn-primary submit-btn" />
            </div>
        </form>
    </div>
</div>

